<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel = "tests">
<listeners>
<listener class-name = "stepDefinitions.Listeners"/>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="stepDefinitions.AddCandidate"/>
      <class name="stepDefinitions.AddUser"/>
      <class name="stepDefinitions.DeleteUser"/>
      <class name="stepDefinitions.DemoLogin"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
